*{
  margin: 0;
  padding:0;
  
}
body{
  background-color: #dbebe9;
}
nav{
  background-color:#40E0D0;
  padding:10px;
  height: 60px;
  display: flex;
  align-items:center;
  justify-content: space-between;
  font-weight: 900;
}
nav div{
  font-size: 1.5em;
}
ul{
  height: 60px;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-weight: 800;
  margin-left: 100px;
  padding: 20px;
}
#logo{
  margin-left:20px ;
}
#logo:hover {
  font-size: 1.6em;
  background-color: #38c3b5;
  border-radius: 10px;
}
ul li:hover {
  font-size: 1.1em;
  background-color: #38c3b5;
  border-radius: 5px;
  cursor: pointer;
}

ul li{
  list-style-type: none;
  margin: 0 13px;
}
table{
  border: 2px solid black;
}
.container{
  max-width: 80vw;
  margin-left:200px;
}
h1,h2,h3{
  margin: 20px;
}
.btn{
  padding: 2px;
  font-size: 1.1em;
  border-radius: 5px;
  background-color: black;
  color: aliceblue;
  margin:20px 0px;
  cursor: pointer;

}
.btn:hover{
background-color: #38c3b5;
font-size: 1.2em;
color: black;
}

table,tbody, td, tr,th{
border: 2px solid black;
border-collapse: collapse;
padding: 10px;

}
.d_button {
  padding: 2px;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.d_button:hover {
  background-color: #38c3b5;
  font-size:0.85em;
  color: black;
}

.copybutton:hover {
  cursor: pointer;
  color: #38c3b5;

}